<!DOCTYPE html>
<html class="scrool-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="veiwport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Flask-NA Dashboard</title>
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=enriqueta:400|serif-enriqueta:200,300,400,500,600,700,800" rel="stylesheet" />
</head>
<script>
    tailwind.config = {
        theme: {
            extend: {
                fontFamily: {
                    averia: ["Averia Sans Libre"],
                    enriqueta: ["serif-enriqueta"],
                },
            },
        },
    };
</script>
    <body class="font-enriqueta">
        <nav aria-label="Site Header" class="shadow shadow-gray-100">
            <div class="mx-auto flex h-16 max-w-screen-xl items-center justify-between px-4">
                <div class="flex items-center gap-4">
                    <a href="index.html" aria-label="Company" title="Company" class="inline-flex items-center mr-8">
                        <span class="ml-2 mb-1 text-xl font-bold tracking-wide text-orange-400">Dashboard</span>
                    </a>
                </div>
    </body>
</html>