<!DOCTYPE html>
<html class="scrool-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="veiwport" content="width=device-width, initial-scale=1.0">
    {%block head%} {% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=enriqueta:400|serif-enriqueta:200,300,400,500,600,700,800" rel="stylesheet"/>
</head>
<body class="font-enriqueta">
    {% block body %} {% endblock %}
</body>
</html>